html    {
    @font-face {
        font-family: 'PT Sans';
        src: url('frontend/assets/font/PTSans-Regular.ttf') format('truetype');
    }
}

body    {
    font-family: PT Sans, Verdana, Arial, sans-serif;
}